{%  extends "layout.html" %}
{% block body %}
     <!-- Page Header-->
    {% set name = 'assets/' +'img/' + post.bg_image %}
        <header class="masthead" style="background-image: url('{{url_for('static',filename= name)}}">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                           <span class="subheading">{{ post.subHeading }}</span>
                            <span class="meta">
                                Posted by
                                <a href="">{{ post.postedBy }}</a>
                                on {{ post.postDate }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      <article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for paragraph in post.content.split('\n') %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
                <p>
                     Text Posted by
                    <a href="https://spaceipsum.com/">{{ post.postedBy }}</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">{{ post.postedBy }}</a>
                </p>
            </div>
        </div>
    </div>
</article>


{% endblock %}
